<%= form_tag('/update', class: 'form-signin') do %>
  <h2>Enter your email</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <%= fields_for :user do |user_fields| %>
    <%= user_fields.email_field :email, class: 'form-control', placeholder: 'Email address', required: true, autofocus: true %>
  <% end %>
  <div class="checkbox">
    <ul class="list-group">
    <% @poker_tables.each do |table| %>
        <li class="list-group-item">
          <label>
            <%= check_box('poker_tables[id]', table.id) %>
            <%= table.name %>
          </label>
        </li>
    <% end %>
    </ul>
  </div>
  <%= submit_tag 'Add tables', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>